
h1{
    color: rgb(183, 68, 42);
    text-decoration: underline;
    text-align: center;

}
h3{
    color: rgb(14, 195, 75);
    text-decoration: underline;

}

h2{
    color: blue;
    font-style: italic;
    font-weight: 100;
}
p{

    font-size: x-small;}

